body {
    background-color: darkred;
    
}
p {
    text-align: left;
    font-family: monospace;
    font-size: 30px;
    font-weight: 900;
    color: navajowhite;
}

span {
     text-align: center;
    font-family: monospace;
    font-size: 15px;
    font-weight: 100;
    left: 40%;
    color: navajowhite;
}

.source, .citation, .year {
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    font-weight: 100;
    left: 40%;
    color: navajowhite;
}

#info {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 20%;
    }

button {
    background-color: transparent;
   opacity: 1;
   color: navajowhite;
    transition: .5s ;
    
}

button:focus {
  outline: none
  
}

button:hover {
    background-color: rgba(255,255,255,.11);
}

#loadQuote {
    color: navajowhite;
    height: 50px;
    width: 200px;
    font-size: 15px;
    border-radius: 25px;
    box-shadow: none;
    border: solid 1px navajowhite;
}

#buttonWrapper {
    
    
    position: absolute;
    top: 60%;
    left: 15%;
    
    
    
}